body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(50, 50, 51);
    color:rgba(48, 48, 49, 0.9)
}
.containers-wrapper {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
}
.container {
    width: 700px;
}
.first-section {
    background-color: rgba(26, 35, 58, 0.9);
    color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}
.main-title {
    display: flex;
    justify-content: center;
    font-size: 50px;
}
.main-position {
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.name {
    margin-right: 30px;
    text-align: center;
}
.position {
    font-size: 30px;
}
.title {
    background-color: rgba(26, 35, 58, 0.9);
    color: rgba(255, 255, 255, 0.8);
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin: 30px 50px;
}
.text {
    font-size: 25px;
    margin: 0 50px;
}
.link {
    font-size: 25px;
    color:rgba(10, 10, 10, 0.9);
    margin: 0 50px;
}
.link-text {
    text-decoration: none;
    color:rgba(48, 48, 49, 0.9);
}
.position {
    font-size: 25px;
    margin: 15px 50px;
}
.list {
    font-size: 22px;
    margin: 10px 35px;
}
.site-bar {
    width: 500px;
}
.foto {
    margin: 20px 95px;
}
.contacts-list {
    list-style: none;
    margin-left: 10px;
    font-size: 22px;
}
